<nz-content>
    <div class="dashboard-container">
        <!-- Total Cars Parked -->
        <div class="card bg-primary text-white">
            <h3 class="text-white"><b>Total Cars Parked</b></h3>
            <p>{{ parkingCars.length }}</p>
        </div>

        <!-- Total Empty Slots -->
        <div class="card bg-success text-white">
            <h3 class="text-white">Total Empty Slots</h3>
            <p>{{ totalEmptySlots }}</p>
        </div>

        <!-- Vehicle Type Info -->
        <div class="card bg-info text-white">
            <h3 class="text-white"><b>Vehicle Types</b></h3>
            @for (vt of vehicleTypeInfo; track vt.name) {
            <p>{{ vt.name }}: <strong>{{ vt.value }}</strong></p>
            }
        </div>

        <!-- Vehicles Parked for More Than Two Hours -->
        <div class="card bg-warning text-dark">
            <h3 class="text-white"><b>Vehicles Parked for More Than 2 Hours</b></h3>
            @for (vehicle of vehiclesParkedMoreThan2Hours; track vehicle.licenseNumber) {
            <p>{{ vehicle.licenseNumber }} - {{ vehicle.vehicleType }} - {{ vehicle.ownerName }}</p>
            }
        </div>
    </div>

    <div class="chart-container mt-30">
        <h2>Vehicles Currently Parked</h2>
        <ngx-charts-pie-chart [view]="[width, 400]" [results]="vehicleTypeInfo" [legend]="true" [labels]="true"
            [doughnut]="false" [explodeSlices]="false" [gradient]="true">
        </ngx-charts-pie-chart>
    </div>
    <div class="chart-container mt-30">
        <h2>Line chart data</h2>
        <div class="mb-20">
            <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid" (ngModelChange)="onChanngeLineChart($event)">
                <label nz-radio-button nzValue="Today">Today</label>
                <label nz-radio-button nzValue="Weekly">Weekly</label>
                <label nz-radio-button nzValue="Monthly">Monthly</label>
            </nz-radio-group>
        </div>
        <ngx-charts-line-chart [view]="[width, 400]" [results]="lineChartData" [xAxis]="true" [yAxis]="true"
            [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'"
            [yAxisLabel]="'Number of Cars Parked'" [autoScale]="true">
        </ngx-charts-line-chart>

    </div>
</nz-content>
